In [1]:
import pandas as pd
df2 = pd.read_csv('regallepi3_redo (3).csv')
import ast
import numpy
import json

In [2]:
df = df2.drop(df2.index[range(2)])

In [3]:
df2.loc[0]

Unnamed: 0                        NaN
Unnamed: 1                        NaN
Enrichment                        AUC
Enrichment.1                      NES
Enrichment.2    MotifSimilarityQvalue
Enrichment.3      OrthologousIdentity
Enrichment.4               Annotation
Enrichment.5                  Context
Enrichment.6              TargetGenes
Enrichment.7                RankAtMax
Name: 0, dtype: object

In [4]:
df1 = df[["Unnamed: 0", "Enrichment.6"]]

In [5]:
df1

      Unnamed: 0                                       Enrichment.6
2           ATF1  [('HMG20A', 0.6473424774851758), ('MIATNB', 1....
3           ATF1  [('PRDM10', 1.4056107137641658), ('SAR1B', 0.3...
4           ATF2  [('ZNF608', 0.8141602393358851), ('ARID1A', 0....
5           ATF3  [('EP300', 0.6360828455342744), ('AHDC1', 8.92...
6           ATF3  [('PLAG1', 3.1131680522139904), ('HMGA1', 0.64...
...          ...                                                ...
23296      ZNF91  [('CDK5RAP2', 1.3160948008434914), ('SRSF3', 2...
23297      ZNF91  [('CDK5RAP2', 1.3160948008434914), ('DDX6', 3....
23298      ZNF91  [('PPP3CA', 3.999837588469937), ('ARID2', 3.33...
23299      ZNF91  [('CDK5RAP2', 1.3160948008434914), ('ADNP', 4....
23300       ZXDA  [('TRIM73', 1.287675103087894), ('PPP1R8', 0.8...

[23299 rows x 2 columns]

In [6]:
df1.columns = ["TF","target"]

In [7]:
df1

          TF                                             target
2       ATF1  [('HMG20A', 0.6473424774851758), ('MIATNB', 1....
3       ATF1  [('PRDM10', 1.4056107137641658), ('SAR1B', 0.3...
4       ATF2  [('ZNF608', 0.8141602393358851), ('ARID1A', 0....
5       ATF3  [('EP300', 0.6360828455342744), ('AHDC1', 8.92...
6       ATF3  [('PLAG1', 3.1131680522139904), ('HMGA1', 0.64...
...      ...                                                ...
23296  ZNF91  [('CDK5RAP2', 1.3160948008434914), ('SRSF3', 2...
23297  ZNF91  [('CDK5RAP2', 1.3160948008434914), ('DDX6', 3....
23298  ZNF91  [('PPP3CA', 3.999837588469937), ('ARID2', 3.33...
23299  ZNF91  [('CDK5RAP2', 1.3160948008434914), ('ADNP', 4....
23300   ZXDA  [('TRIM73', 1.287675103087894), ('PPP1R8', 0.8...

[23299 rows x 2 columns]

In [8]:
df1['target']=df1['target'].apply(lambda x: [i[0] for i in ast.literal_eval(x)])

/var/folders/07/3by0l4s95b79cvs9v9fctc280000gn/T/ipykernel_50596/3709770268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['target']=df1['target'].apply(lambda x: [i[0] for i in ast.literal_eval(x)])

In [9]:
df2=df1.groupby('TF').agg(sum)

In [10]:
df2

                                                    target
TF
ABL1     [ENG, RGMB, LRRC8D, NLRC5, ZBTB16, AIF1L, GALN...
AHCTF1   [ZHX2, NUP50, BDP1, LCOR, HSPA4, SAFB, YLPM1, ...
AR                            [CXorf40B, AR, SETD7, TRABD]
ARID3A   [KMT2D, MLLT6, HMBOX1, RBBP4, FBXW11, VSIG10, ...
ARNT2    [TTI2, NCOA5, EIF4E3, EIF4E3, NCOA5, GIT1, ZFY...
...                                                    ...
ZNF91    [UBTF, PHF21A, EP300, EIF4G2, STT3B, MSL1, GLI...
ZSCAN1                         [C12orf66, ZNF438, SLC19A1]
ZSCAN16  [NDUFAF1, PLEKHO2, FLOT2, DAXX, FDFT1, CBLC, D...
ZSCAN5A  [FKRP, ZSCAN5A, TIMM44, BTBD10, CD4, FKRP, ZSC...
ZXDA     [TRIM73, PPP1R8, SLC16A14, FOXJ2, RBMS2, HID1,...

[366 rows x 1 columns]

In [11]:
df2['target']=df2['target'].apply(lambda x: set(x))

In [12]:
df2['target']=df2['target'].apply(lambda x: list(x))

In [13]:
df2

                                                    target
TF
ABL1     [ZBTB16, LRRC37B, LRRC8D, DNAJC13, NLRC5, E2F3...
AHCTF1   [NUP50, ACTR2, LCOR, G3BP2, CEP350, SAFB, PTPN...
AR                            [TRABD, CXorf40B, SETD7, AR]
ARID3A   [CNOT3, MLLT6, HMBOX1, RBBP4, ZNF496, KMT2D, W...
ARNT2    [ZFYVE27, NCOA5, TTI2, PARP6, ACBD5, ZNF334, G...
...                                                    ...
ZNF91    [SIRPA, HNRNPM, BMP4, BFAR, VPS39, IMP4, ASXL2...
ZSCAN1                         [SLC19A1, ZNF438, C12orf66]
ZSCAN16  [TBC1D20, PIK3R3, NDUFAF1, ZDHHC4, GNS, ABCA7,...
ZSCAN5A               [CD4, ZSCAN5A, TIMM44, FKRP, BTBD10]
ZXDA     [GNE, SLC16A14, MTA3, HID1, CIZ1, MECR, FAM220...

[366 rows x 1 columns]

In [14]:
col_list = df2.index.tolist()

In [15]:
col_list

['ABL1',
 'AHCTF1',
 'AR',
 'ARID3A',
 'ARNT2',
 'ASCL1',
 'ASCL2',
 'ATF1',
 'ATF2',
 'ATF3',
 'ATF4',
 'ATF5',
 'ATF6',
 'ATF6B',
 'ATF7',
 'BACH1',
 'BACH2',
 'BATF',
 'BCL11A',
 'BCL3',
 'BCL6',
 'BCLAF1',
 'BDP1',
 'BHLHE40',
 'BHLHE41',
 'BRCA1',
 'BRF1',
 'BRF2',
 'CEBPA',
 'CEBPB',
 'CEBPD',
 'CEBPG',
 'CEBPZ',
 'CHD2',
 'CLOCK',
 'CNOT3',
 'CREB1',
 'CREB3',
 'CREB3L1',
 'CREB3L2',
 'CREB5',
 'CREBL2',
 'CREM',
 'CSNK2B',
 'CTCF',
 'CUX1',
 'DBP',
 'DDIT3',
 'DMRT2',
 'DMRTA2',
 'E2F1',
 'E2F3',
 'E2F4',
 'E2F7',
 'E2F8',
 'EGR1',
 'EGR2',
 'EGR3',
 'EGR4',
 'EHF',
 'ELF1',
 'ELF2',
 'ELF3',
 'ELF4',
 'ELF5',
 'ELK1',
 'ELK3',
 'ELK4',
 'EP300',
 'ESR2',
 'ESRRA',
 'ESRRG',
 'ETS1',
 'ETS2',
 'ETV2',
 'ETV3',
 'ETV4',
 'ETV6',
 'ETV7',
 'FOS',
 'FOSB',
 'FOSL1',
 'FOSL2',
 'FOXA1',
 'FOXA2',
 'FOXA3',
 'FOXC1',
 'FOXC2',
 'FOXG1',
 'FOXJ2',
 'FOXK1',
 'FOXK2',
 'FOXN1',
 'FOXN2',
 'FOXN3',
 'FOXO1',
 'FOXO3',
 'FOXO4',
 'FOXP1',
 'FOXP2',
 'FOXP4',
 'FOXQ1',
 'GABPA',
 'GABPB1',
 'GATA6',
 'GLI3',
 'GLIS3',
 'GMEB1',
 'GRHL1',
 'GRHL3',
 'GTF2B',
 'GTF2IRD1',
 'HCFC2',
 'HDAC2',
 'HES1',
 'HIC1',
 'HINFP',
 'HIST1H2BN',
 'HIVEP1',
 'HIVEP3',
 'HLF',
 'HMGA1',
 'HMGA2',
 'HMGB1',
 'HNF1B',
 'HOXA2',
 'HOXA4',
 'HSF1',
 'IKZF1',
 'IKZF2',
 'INSM1',
 'IRF1',
 'IRF2',
 'IRF3',
 'IRF4',
 'IRF5',
 'IRF6',
 'IRF7',
 'IRF8',
 'IRF9',
 'JDP2',
 'JUN',
 'JUNB',
 'JUND',
 'KDM5A',
 'KLF10',
 'KLF11',
 'KLF12',
 'KLF13',
 'KLF16',
 'KLF2',
 'KLF3',
 'KLF4',
 'KLF5',
 'KLF7',
 'KLF8',
 'KLF9',
 'KMT2A',
 'LEF1',
 'LYL1',
 'MAFB',
 'MAFF',
 'MAFG',
 'MAFK',
 'MAX',
 'MAZ',
 'MEF2A',
 'MEF2C',
 'MEF2D',
 'MEIS1',
 'MGA',
 'MLX',
 'MLXIP',
 'MSC',
 'MXD4',
 'MXI1',
 'MYB',
 'MYBL1',
 'MYC',
 'MYOG',
 'MZF1',
 'NFATC1',
 'NFATC2',
 'NFATC3',
 'NFE2L1',
 'NFE2L2',
 'NFIB',
 'NFIL3',
 'NFKB1',
 'NFKB2',
 'NFYA',
 'NFYB',
 'NFYC',
 'NPDC1',
 'NR1H3',
 'NR2C1',
 'NR2C2',
 'NR2F1',
 'NR2F2',
 'NR2F6',
 'NR3C1',
 'OTX1',
 'OVOL2',
 'PATZ1',
 'PAX8',
 'PAX9',
 'PBX1',
 'PBX3',
 'PHF8',
 'PITX1',
 'PKNOX1',
 'PKNOX2',
 'PLAGL1',
 'POLE3',
 'POLE4',
 'POLR2A',
 'POLR3A',
 'POU2F3',
 'POU3F1',
 'PPARA',
 'PPARD',
 'PPARG',
 'PRDM1',
 'PRDM16',
 'PSMD12',
 'PUM3',
 'RAD21',
 'RARA',
 'RARG',
 'RB1',
 'RBBP5',
 'REL',
 'RELA',
 'RELB',
 'REST',
 'RFX1',
 'RFX2',
 'RFX3',
 'RORA',
 'RORC',
 'RREB1',
 'RUNX2',
 'RXRA',
 'RXRB',
 'SALL4',
 'SETDB1',
 'SIN3A',
 'SIX5',
 'SMAD1',
 'SMAD3',
 'SMAD5',
 'SMARCC2',
 'SNAI1',
 'SNAI2',
 'SOX10',
 'SOX11',
 'SOX12',
 'SOX2',
 'SOX4',
 'SOX5',
 'SOX6',
 'SOX7',
 'SOX9',
 'SP1',
 'SP2',
 'SP3',
 'SP4',
 'SP6',
 'SPDEF',
 'SPIB',
 'SREBF1',
 'SREBF2',
 'SRF',
 'STAT1',
 'STAT2',
 'STAT3',
 'STAT4',
 'STAT5A',
 'STAT5B',
 'STAT6',
 'TAF1',
 'TAF7',
 'TBP',
 'TBX3',
 'TBX6',
 'TCF7',
 'TCF7L1',
 'TCF7L2',
 'TCFL5',
 'TEAD2',
 'TEAD3',
 'TEAD4',
 'TEF',
 'TFAP2A',
 'TFCP2',
 'TFCP2L1',
 'TFDP1',
 'TFDP2',
 'TFE3',
 'TGIF1',
 'TGIF2',
 'THAP1',
 'THRA',
 'THRB',
 'TP53',
 'TP63',
 'TP73',
 'TRPS1',
 'UBTF',
 'USF1',
 'USF2',
 'XBP1',
 'YY1',
 'ZBTB1',
 'ZBTB14',
 'ZBTB41',
 'ZBTB7A',
 'ZBTB7B',
 'ZEB1',
 'ZFP1',
 'ZFP64',
 'ZFP91',
 'ZFY',
 'ZKSCAN7',
 'ZNF143',
 'ZNF148',
 'ZNF19',
 'ZNF214',
 'ZNF224',
 'ZNF274',
 'ZNF281',
 'ZNF322',
 'ZNF345',
 'ZNF362',
 'ZNF384',
 'ZNF404',
 'ZNF423',
 'ZNF432',
 'ZNF433',
 'ZNF441',
 'ZNF467',
 'ZNF485',
 'ZNF502',
 'ZNF513',
 'ZNF546',
 'ZNF554',
 'ZNF567',
 'ZNF570',
 'ZNF583',
 'ZNF589',
 'ZNF613',
 'ZNF614',
 'ZNF615',
 'ZNF677',
 'ZNF721',
 'ZNF740',
 'ZNF76',
 'ZNF772',
 'ZNF823',
 'ZNF84',
 'ZNF878',
 'ZNF91',
 'ZSCAN1',
 'ZSCAN16',
 'ZSCAN5A',
 'ZXDA']

In [20]:
###for all genes
col_list = df2.index.tolist()

In [21]:
lst = col_list
targs = []
tf = []
for x in lst:
    my_list = df2.loc[x][0]
    t = []
    length = 0
    for z in my_list:
        if z in lst and z != x:
            t = t + [z]
            length = length + 1
    targs = targs + t
    nam = [x]*length
    tf = tf + nam
    #targs = targs + my_list
    #length = len(my_list)
    #nam = [x]*length
    #tf = tf + nam
    
data = {'TFs': tf,
        'targs': targs}
  
# Create DataFrame
daf = pd.DataFrame(data)

In [22]:
daf

         TFs   targs
0       ABL1    E2F3
1     AHCTF1    BDP1
2     ARID3A   CNOT3
3      ARNT2   FOXN2
4      ASCL1    IRF2
...      ...     ...
7517   ZNF91    E2F3
7518   ZNF91   EP300
7519   ZNF91  ZNF224
7520    ZXDA  ZBTB7B
7521    ZXDA   FOXJ2

[7522 rows x 2 columns]

In [23]:
daf.to_csv('edge_all_check.csv', index = False,header=False)