In [1]:
import pandas as pd
df2 = pd.read_csv('hori_reg.csv')
import ast
import numpy
import json

In [3]:
df = df2.drop(df2.index[range(2)])

In [4]:
df2.loc[0]

Unnamed: 0                        NaN
Unnamed: 1                        NaN
Enrichment                        AUC
Enrichment.1                      NES
Enrichment.2    MotifSimilarityQvalue
Enrichment.3      OrthologousIdentity
Enrichment.4               Annotation
Enrichment.5                  Context
Enrichment.6              TargetGenes
Enrichment.7                RankAtMax
Name: 0, dtype: object

In [6]:
df1 = df[["Unnamed: 0", "Enrichment.6"]]

In [7]:
df1

      Unnamed: 0                                       Enrichment.6
2          ASCL1  [('PKN1', 0.4873380500813916), ('ADGRL2', 0.56...
3           ATF1  [('HMG20A', 0.9658661026072596), ('UBE2N', 0.5...
4           ATF1  [('MIATNB', 0.8065010310737456), ('ARHGAP1', 0...
5           ATF1  [('HMG20A', 0.9658661026072596), ('DNAJB9', 0....
6           ATF1  [('C16orf72', 2.165987041178519), ('TMEM187', ...
...          ...                                                ...
21494      ZNF91  [('TOMM40L', 0.4404916851143345), ('STAG2', 2....
21495      ZNF91  [('MAP2K7', 1.4793754326239466), ('SAFB2', 1.4...
21496      ZNF91  [('PPP3CA', 3.2180008933303514), ('ASH1L', 5.7...
21497      ZNF91  [('CHD7', 5.770754512110146), ('NIPBL', 4.4448...
21498      ZNF91  [('PPP3CA', 3.2180008933303514), ('EP300', 4.2...

[21497 rows x 2 columns]

In [11]:
df1.columns = ["TF","target"]

In [12]:
df1

          TF                                             target
2      ASCL1  [('PKN1', 0.4873380500813916), ('ADGRL2', 0.56...
3       ATF1  [('HMG20A', 0.9658661026072596), ('UBE2N', 0.5...
4       ATF1  [('MIATNB', 0.8065010310737456), ('ARHGAP1', 0...
5       ATF1  [('HMG20A', 0.9658661026072596), ('DNAJB9', 0....
6       ATF1  [('C16orf72', 2.165987041178519), ('TMEM187', ...
...      ...                                                ...
21494  ZNF91  [('TOMM40L', 0.4404916851143345), ('STAG2', 2....
21495  ZNF91  [('MAP2K7', 1.4793754326239466), ('SAFB2', 1.4...
21496  ZNF91  [('PPP3CA', 3.2180008933303514), ('ASH1L', 5.7...
21497  ZNF91  [('CHD7', 5.770754512110146), ('NIPBL', 4.4448...
21498  ZNF91  [('PPP3CA', 3.2180008933303514), ('EP300', 4.2...

[21497 rows x 2 columns]

In [20]:
df1['target']=df1['target'].apply(lambda x: [i[0] for i in ast.literal_eval(x)])

/var/folders/07/3by0l4s95b79cvs9v9fctc280000gn/T/ipykernel_70101/3709770268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['target']=df1['target'].apply(lambda x: [i[0] for i in ast.literal_eval(x)])

In [24]:
df2=df1.groupby('TF').agg(sum)

In [25]:
df2

                                                    target
TF
AHCTF1   [NIPBL, CEP350, ADAM10, XRCC5, CACNA2D3, AHCTF...
ARID3A   [TNRC18, ZFHX3, FOXP1, SEPHS1, SALL4, CELF4, S...
ARNT     [REEP4, DUSP7, DYRK1A, ZBTB16, ARNT, ZBTB16, U...
ARNTL                        [PATZ1, MEX3B, ARNTL, TMEM8A]
ASCL1    [PKN1, ADGRL2, FEZF2, AMOTL2, LINC00900, VAMP2...
...                                                    ...
ZNF816   [NTN1, USP19, NTNG2, SERP2, PIP4K2B, LNX1, MAS...
ZNF823   [KLF12, SOX13, DACT3, BCL9L, TMEM266, ELOVL6, ...
ZNF84    [UBTF, SIN3A, BRD2, DYRK1A, ZMAT1, PTPN4, FBRS...
ZNF91    [PHF21A, EP300, EIF4G2, STT3B, MSL1, GLIS2, AS...
ZSCAN16  [NDUFAF1, PLEKHO2, FLOT2, FDFT1, CBLC, DDX39A,...

[351 rows x 1 columns]

In [29]:
df2['target']=df2['target'].apply(lambda x: set(x))

In [31]:
df2['target']=df2['target'].apply(lambda x: list(x))

In [32]:
df2

                                                    target
TF
AHCTF1   [PPM1B, WNK1, SRPX, SOX8, ASB16-AS1, SIX2, TME...
ARID3A   [KCNK5, RXRA, KIDINS220, SEPHS1, AMOTL2, TSC22...
ARNT     [ZNF485, EIF3C, FUBP3, DYRK1A, CAPN15, PISD, U...
ARNTL                        [MEX3B, TMEM8A, PATZ1, ARNTL]
ASCL1    [CADPS, HYOU1, GRIN2A, TOR3A, AMOTL2, SEPHS1, ...
...                                                    ...
ZNF816   [ALS2CL, USP19, CDH2, DGUOK-AS1, NUDT3, NRG2, ...
ZNF823   [LMOD1, DMRT3, DACT3, VGF, SPATC1L, C12orf54, ...
ZNF84    [MIB1, CADPS, SATB1, FURIN, KMT5B, HOXA-AS2, P...
ZNF91    [PTTG1IP, APAF1, KIDINS220, MXD1, UNC13B, RFX7...
ZSCAN16  [PIK3R3, KCTD15, TPST2, TBC1D20, DDX39A, NOSIP...

[351 rows x 1 columns]

In [34]:
col_list = df2.index.tolist()

In [35]:
col_list

['AHCTF1',
 'ARID3A',
 'ARNT',
 'ARNTL',
 'ASCL1',
 'ATF1',
 'ATF2',
 'ATF3',
 'ATF4',
 'ATF6',
 'ATF6B',
 'ATF7',
 'BACH1',
 'BACH2',
 'BCL3',
 'BCL6',
 'BCLAF1',
 'BDP1',
 'BHLHE40',
 'BNC1',
 'BRCA1',
 'BRF1',
 'BRF2',
 'CCNT2',
 'CEBPA',
 'CEBPB',
 'CEBPD',
 'CEBPG',
 'CHD2',
 'CLOCK',
 'CNOT3',
 'CREB1',
 'CREB3',
 'CREB3L1',
 'CREB3L2',
 'CREB5',
 'CREBL2',
 'CREM',
 'CSNK2B',
 'CTCF',
 'CUX1',
 'DBP',
 'DDIT3',
 'E2F1',
 'E2F3',
 'E2F4',
 'E2F6',
 'E2F7',
 'E2F8',
 'EBF4',
 'EGR1',
 'EGR2',
 'EGR3',
 'EGR4',
 'EHF',
 'ELF1',
 'ELF2',
 'ELF3',
 'ELF4',
 'ELF5',
 'ELK1',
 'ELK3',
 'ELK4',
 'ESR2',
 'ESRRA',
 'ETS1',
 'ETS2',
 'ETV2',
 'ETV3',
 'ETV4',
 'ETV5',
 'ETV6',
 'ETV7',
 'FOS',
 'FOSB',
 'FOSL1',
 'FOSL2',
 'FOXA1',
 'FOXA2',
 'FOXA3',
 'FOXC1',
 'FOXC2',
 'FOXG1',
 'FOXJ2',
 'FOXK2',
 'FOXN3',
 'FOXO1',
 'FOXO3',
 'FOXP1',
 'FOXP2',
 'FOXP4',
 'FOXQ1',
 'GABPA',
 'GABPB1',
 'GATA6',
 'GRHL1',
 'GRHL3',
 'GTF2B',
 'GTF2IRD1',
 'GTF3C2',
 'HCFC2',
 'HDAC2',
 'HES2',
 'HIC1',
 'HIST1H2BN',
 'HIVEP1',
 'HIVEP3',
 'HMGA1',
 'HMGA2',
 'HMGB3',
 'HNF1B',
 'HOXC4',
 'IKZF1',
 'IKZF2',
 'IRF1',
 'IRF2',
 'IRF3',
 'IRF4',
 'IRF5',
 'IRF6',
 'IRF7',
 'IRF8',
 'IRF9',
 'IRX2',
 'JAZF1',
 'JDP2',
 'JUN',
 'JUNB',
 'JUND',
 'KDM5A',
 'KLF10',
 'KLF11',
 'KLF12',
 'KLF13',
 'KLF16',
 'KLF2',
 'KLF3',
 'KLF4',
 'KLF5',
 'KLF7',
 'KLF8',
 'KLF9',
 'KMT2A',
 'LEF1',
 'MAFB',
 'MAFF',
 'MAFG',
 'MAFK',
 'MAX',
 'MAZ',
 'MEF2A',
 'MEF2C',
 'MEIS1',
 'MEOX1',
 'MLX',
 'MSC',
 'MXD4',
 'MXI1',
 'MYB',
 'MYBL1',
 'MYC',
 'MYOG',
 'NFATC1',
 'NFATC2',
 'NFE2L2',
 'NFIC',
 'NFIL3',
 'NFKB1',
 'NFKB2',
 'NFYA',
 'NFYB',
 'NFYC',
 'NR1D2',
 'NR1H2',
 'NR1H3',
 'NR2C1',
 'NR2C2',
 'NR2F1',
 'NR2F2',
 'NR2F6',
 'NR3C1',
 'NRF1',
 'OTX1',
 'OVOL2',
 'PATZ1',
 'PAX8',
 'PAX9',
 'PBX1',
 'PBX3',
 'PHF8',
 'PKNOX1',
 'PKNOX2',
 'PLAGL1',
 'POLE4',
 'POLR2A',
 'POLR3A',
 'POLR3G',
 'POU2F2',
 'POU2F3',
 'POU3F1',
 'PPARA',
 'PPARD',
 'PPARG',
 'PRDM1',
 'PRDM16',
 'PRKAA1',
 'PUM3',
 'RAD21',
 'RARA',
 'RARG',
 'RB1',
 'RBBP5',
 'REL',
 'RELA',
 'RELB',
 'REST',
 'RFX1',
 'RFX2',
 'RFX3',
 'RFX5',
 'RLF',
 'RORC',
 'RREB1',
 'RUNX1',
 'RUNX2',
 'RXRA',
 'RXRB',
 'SALL4',
 'SETDB1',
 'SF1',
 'SIN3A',
 'SIX5',
 'SMAD3',
 'SMAD5',
 'SMARCC2',
 'SNAI1',
 'SNAI2',
 'SOX10',
 'SOX11',
 'SOX2',
 'SOX4',
 'SOX5',
 'SOX6',
 'SOX8',
 'SOX9',
 'SP1',
 'SP2',
 'SP3',
 'SP4',
 'SP5',
 'SP6',
 'SPDEF',
 'SPIB',
 'SREBF1',
 'SREBF2',
 'SRF',
 'SRY',
 'STAT1',
 'STAT2',
 'STAT3',
 'STAT4',
 'STAT5A',
 'STAT5B',
 'STAT6',
 'TAF1',
 'TAF7',
 'TBP',
 'TBX1',
 'TBX3',
 'TBX6',
 'TCF12',
 'TCF3',
 'TCF7L1',
 'TCF7L2',
 'TCFL5',
 'TEAD2',
 'TEAD3',
 'TEAD4',
 'TFAP2A',
 'TFCP2',
 'TFCP2L1',
 'TFDP1',
 'TFE3',
 'TGIF1',
 'TGIF2',
 'THAP1',
 'THRA',
 'THRB',
 'TP53',
 'TP63',
 'TP73',
 'UBTF',
 'USF1',
 'USF2',
 'VEZF1',
 'XBP1',
 'YY1',
 'ZBTB1',
 'ZBTB3',
 'ZBTB33',
 'ZBTB7A',
 'ZBTB7B',
 'ZEB1',
 'ZFHX2',
 'ZFP1',
 'ZFP3',
 'ZFP64',
 'ZFP90',
 'ZFY',
 'ZKSCAN8',
 'ZNF143',
 'ZNF148',
 'ZNF160',
 'ZNF189',
 'ZNF227',
 'ZNF264',
 'ZNF274',
 'ZNF281',
 'ZNF319',
 'ZNF322',
 'ZNF34',
 'ZNF343',
 'ZNF354A',
 'ZNF354C',
 'ZNF362',
 'ZNF384',
 'ZNF404',
 'ZNF432',
 'ZNF433',
 'ZNF467',
 'ZNF483',
 'ZNF502',
 'ZNF506',
 'ZNF513',
 'ZNF554',
 'ZNF559',
 'ZNF563',
 'ZNF579',
 'ZNF583',
 'ZNF589',
 'ZNF597',
 'ZNF613',
 'ZNF677',
 'ZNF71',
 'ZNF76',
 'ZNF774',
 'ZNF816',
 'ZNF823',
 'ZNF84',
 'ZNF91',
 'ZSCAN16']

In [296]:
col_list =['PAX9','STAT5A','FOXG1','BHLHE40','HIVEP3','STAT3','NFKB2','RELB','ETV7','TP63','HIC1','FOXC1','IRF9','IRF7','NFKB1','STAT1','JUNB','HES2','RFX5','HIVEP1','IRF1','TP73','SPIB','IRF8','SREBF1','ASCL1','FOXC2','SP6','KLF10','MXD4','CUX1','MEOX1','STAT2','NFATC1','FOXO1','REL','ETS1','IRF4','MSC','BCL3','CEBPD','NFIC','SOX5','ARID3A','PLAGL1','HMGA1','ETV5','ELF3','SOX6','FOXA2','HNF1B','GATA6','IRX2','ZNF281','TEAD2','SOX11','FOXP2','JDP2','FOXP1','CREB3L2','SALL4','RORC','MEF2C','ATF6','SOX4','E2F8','MAFK','FOXP4','VEZF1','BDP1','GRHL3','HMGA2','PRDM1','IKZF2','PPARG','NR2F6','IRF5','EHF','ZBTB7A','TEAD3','IRF2','HOXC4','KLF3','SOX2','FOXQ1','ELK3','XBP1','GRHL1','ELF5','KLF5','MAFB','RUNX1','POU3F1','TGIF1','FOSB','TFCP2L1','TFAP2A','TBX1','NR2F2','EGR2','KLF16','SPDEF','FOSL1','GTF2B','MAFF','FOS','KLF4','ETS2','MEIS1','JUN']

In [36]:
###for all genes
col_list = df2.index.tolist()

In [37]:
lst = col_list
targs = []
tf = []
for x in lst:
    my_list = df2.loc[x][0]
    t = []
    length = 0
    for z in my_list:
        if z in lst and z != x:
            t = t + [z]
            length = length + 1
    targs = targs + t
    nam = [x]*length
    tf = tf + nam
    #targs = targs + my_list
    #length = len(my_list)
    #nam = [x]*length
    #tf = tf + nam
    
data = {'TFs': tf,
        'targs': targs}
  
# Create DataFrame
daf = pd.DataFrame(data)

In [38]:
daf

         TFs   targs
0     AHCTF1    SOX8
1     AHCTF1   SMAD5
2     AHCTF1   RAD21
3     AHCTF1   SNAI1
4     AHCTF1    UBTF
...      ...     ...
7358   ZNF91    RORC
7359   ZNF91  POLR2A
7360   ZNF91  PRKAA1
7361   ZNF91  ZNF432
7362   ZNF91   NR2C1

[7363 rows x 2 columns]

In [39]:
daf.to_csv('edge_all_check.csv', index = False,header=False)